@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-nunito);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-nunito), system-ui, sans-serif;
}